:root {
    /* facility icons */
    --business-center:                         #4DA64D;
    --workforce1-center:                       #679EC3;
    --industrial-transportation-services:      #888888;
}